/** helloWorld.css **/
.THIS {
    background-color: white;
    padding-top: 12px;
}
p.THIS {
    font-size: 24px;
}
h1.THIS {
    font-size:60px;
}

.THIS h1{
    font-weight: bold;
    padding: 10px;
}

.THIS.container {
    padding-top: 120px;
}

.THIS .red {
    background-color:Orange;
    padding: 10px;
}

.THIS .blue {
    background-color: White;
    padding: 10px;
}

.THIS .green {
    background-color: green;
    padding: 10px;
}