<apex:page standardController="Account" recordSetVar="Account" extensions="MyAccountListCntrlr" >
<apex:form >
<apex:pageBlock title="MyPageBlock1" >
 <apex:pageBlockButtons >
            <apex:commandButton value="Show Selected Accounts" 
               action="{!displaySelectedAccountNumbers}"/>
         </apex:pageBlockButtons>
<apex:pageBlockSection columns="2"> 

<apex:pageBlockTable value="{!account}" var="s" title="All Accounts"  >
<apex:column headerValue="active" >
            <apex:inputCheckbox />
        </apex:column>
<apex:column value="{!s.Name}"  />
<apex:column value="{!s.Phone}" />
</apex:pageBlockTable>

<apex:pageBlockTable value="{!account}" var="s" title="Selected Accounts" align="right"  >

<apex:column value="{!s.Name}"/>
<apex:column value="{!s.Phone}"/>
</apex:pageBlockTable>
</apex:pageBlockSection>
</apex:pageBlock>
</apex:form>
</apex:page>