<apex:page >

  <apex:pageMessages />

  <apex:panelBar >

    <apex:panelBarItem label="Item One" 

          onenter="alert('Entering item one');" 

          onleave="alert('Leaving item one');">

      Item one content

    </apex:panelBarItem>

    <apex:panelBarItem label="Item Two"  

          onenter="alert('Entering item two');" 

          onleave="alert('Leaving item two');">

      Item two content

    </apex:panelBarItem>

  </apex:panelBar>

</apex:page>

<!--<apex:page standardController="Account" recordSetVar="Account" sidebar="false" tabStyle="account">
<apex:sectionHeader title="Interviewone"/>
<apex:form >
<apex:pagemessages />
<apex:pageBlock title="ALL ACCOUNTS"  >
<apex:pageBlockTable value="{!account}" var="a" >
<apex:column value="{!a.Name}"/>
<apex:column value="{!a.BillingState}"/>
<apex:column value="{!a.Phone}"/>
<apex:column value="{!a.Website}"/>
</apex:pageBlockTable>
</apex:pageBlock>
</apex:form>
</apex:page>-->