<apex:page docType="html-5.0" controller="sampleDate" id="pid">
  <apex:includeScript value="{!$Resource.jquery}"/>  
 <apex:stylesheet value="{!$Resource.datecss}"/>
<apex:includeScript value="{!$Resource.datejs}"/>
 
<script type="text/javascript">
    $(function() {
      $('#datetimepicker').datetimepicker();
       
        alert('jeff');});
        
     function saveVal(){
         var datVal = document.getElementById('datetimepicker').value;
         alert(datVal);
         saveDate(datVal);
        }

    
 </script>
    
<apex:form id="fid">
    <apex:actionFunction name="saveDate" action="{!Save}" rerender="pbid">
        <apex:param name="dat" value="" assignTo="{!dat}" />
    </apex:actionFunction>
    <apex:pageBlock id="pbid">
        <apex:pageBlockSection id="pbsid">
             Date: <apex:inputText id="datetimepicker"  />
            <apex:pageBlockSectionItem id="pbsiid">
              
               Dateval: <input id="datetimepicker" type="text" />
                
            </apex:pageBlockSectionItem>
            DAT: <apex:outputText label="DateTime" value="{!dat}" />
        </apex:pageBlockSection>
        <apex:commandButton value="Save" onclick="saveVal();return false;"/>
    </apex:pageBlock>
</apex:form>
</apex:page>