<apex:page standardController="account" title="Sample Position Layout
Page" showHeader="false" sidebar="false" >
<!--This is a simple page that mimics a standard Position Page Layout using
Visualforce pageBlock tags.-->
<script>
   function myClone(){

window.top.location="{!URLFOR($Action.Account.Edit,account.Id)}";
   }
</script>
   <apex:sectionHeader title="{!$ObjectType.Account.Fields.Name.Label}" subtitle="{!account.name}" />
 <apex:form >
     <apex:pageBlock title="account Detail">
       <apex:pageBlockButtons >
           <apex:commandButton value="Edit" action="{!edit}"/>
           <apex:commandButton value="Delete" action="{!delete}"/>
           <apex:commandButton value="save" action="{!save}" />
            <apex:commandButton value="Clone"
onclick="javascript:myClone();" /> 
           <apex:commandButton value="Viewing"
onclick="window.top.location='{!URLFOR($Action.Account.View,account.Id)}'"
/>
       </apex:pageBlockButtons>
       <apex:pageBlockSection title="Information" columns="2">
           <apex:outputField value="{!account.name}"/>
           <apex:outputField value="{!account.ownerid}"/>
           
           <apex:outputField value="{!account.CustomerPriority__c}"/>
           <apex:outputField value="{!account.Site}"/>
           <apex:outputField value="{!account.Rating}"/>
           <apex:outputField value="{!account.Type}"/>
           <apex:outputField value="{!account.Industry}"/>
           <apex:outputField value="{!account.Industry}"/>
           
           <apex:pageBlockSectionItem />
           <apex:InputField value="{!account.name}"/>
           <apex:pageBlockSectionItem />
           <apex:outputField value="{!account.Phone}"/>
           <apex:pageBlockSectionItem />
          
       </apex:pageBlockSection>
       <apex:pageBlockSection title="System Information" showHeader="false"
 columns="2">
           <apex:pageBlockSectionItem >
               <apex:outputLabel value="Created By"/>
               <apex:outputText >
                   <apex:outputField value="{!account.CreatedById}"/>
                   ,&nbsp;
                   <apex:outputField value="{!account.CreatedDate}"/>
               </apex:outputText>
           </apex:pageBlockSectionItem>
           <apex:pageBlockSectionItem >
               <apex:outputLabel value="Last Modified By"/>
               <apex:outputText >
                   <apex:outputField value="{!account.LastModifiedById}"/>
                   &nbsp;
                   <apex:outputField value="{!account.LastModifiedDate}"/>
               </apex:outputText>
           </apex:pageBlockSectionItem>
       </apex:pageBlockSection>
    </apex:pageBlock>
 </apex:form>
 <!--<apex:relatedList list="Interviewers__r"/>
 <apex:relatedList list="Job_Applications__r"/>
 <apex:relatedList list="OpenActivities"/>
 <apex:relatedList list="ActivityHistories"/>
 <apex:relatedList list="NotesAndAttachments"/>
 <apex:relatedList list="Position_Programming_Languages__r"/>-->
</apex:page>