<apex:page standardController="Doctor__c" >
<apex:variable var="s" value="{!Doctor__c}" />
<apex:form >
<apex:pageBlock title="Quick Edit" tabStyle="Account">
<apex:pageMessages />

<apex:pageBlockSection >
<apex:inputField value="{!Doctor__c.Name}"/>
<apex:inputField value="{!Doctor__c.Patient1__c}"/>
<apex:inputfield value="{!Doctor__c.Specialization__c}"/>
<apex:commandButton action="{!save}" value="Update"/>
</apex:pageBlockSection>
</apex:pageblock>
</apex:form>
</apex:page>