<apex:page standardController="Account" >
  <apex:form >
  This is your new Page: srini
  <apex:pageBlock title="pageblock1"  >
  <apex:pageBlockSection title="pbsection1">
   <apex:inputField value="{!account.type}"/>
   <apex:inputField value="{!account.accountNumber}"/>
   </apex:pageBlockSection>
    <apex:pageBlockSection title="pbsection2">
  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Account Site" for="account__site"/>
                    <apex:inputText value="{!account.site}" id="account__site"/> 
                </apex:pageBlockSectionItem>
   </apex:pageBlockSection>
   <apex:commandButton action="{!save}" value="save"/>
   
  </apex:pageBlock>
 
  <apex:pageBlock title="pageblock2">
   <apex:pageBlockSection title="pbsection3" >
  
   </apex:pageBlockSection>
    <apex:pageBlockSection title="pbsection4">
  
   </apex:pageBlockSection>
  </apex:pageBlock>
   </apex:form>
</apex:page>